<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

    <h1>Profile Page</h1>
    <h2>User Info</h2>
    <p><strong>Username:</strong> {{ request.user.username }}</p>
    <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>

    <h2>Profile Info</h2>

    {% if object.avatar %}
        <img src="{{ object.avatar.url }}" alt="Avatar" width="150">
    {% else %}
        <p>No avatar uploaded</p>
    {% endif %}

    <p><strong>Bio:</strong> {{ object.bio }}</p>

    <br><br>
    <a href="{% url 'profile_edit' %}">
        <button>Edit Profile</button>
    </a><br>
    <a href="{% url 'change_password' %}">
        <button>Change Password</button>
    </a>


</body>
</html>